
\.DS_Store

data/LoanStats_2016Q1\.csv

data/LoanStats_2016Q2\.csv

data/LoanStats_2016Q3\.csv

data/LoanStats_2016Q4\.csv

data/LoanStats_2017Q1\.csv

data/LoanStats_2017Q2\.csv

data/LoanStats_2017Q3\.csv

data/LoanStats_2017Q4\.csv
